body {
  /*background-color: #eeece0 !important; */
  background-image: url("Images/StockSnap_7ZUAIZYWL1.jpg");
  background-repeat: no-repeat;
  background-position-x: -500px;
  background-position-y: -300px; }

a {
  color: #254c1f !important; }

.about {
  opacity: 1;
  animation: fade 2s linear;
  background-color: #1F5B4F;
  display: inline-block; }

.navbar {
  font-family: "Pathway Gothic One";
  font-size: 200%;
  display: inline-block;
  width: 100%;
  margin-bottom: 0% !important;
  background-color: #dddee0;
  box-shadow: 10px 10px 5px #888888;
  background-position: 0% 0%; }

.title {
  font-size: 283px;
  color: whitesmoke;
  font-family: "Pathway Gothic One";
  padding-left: 343px;
  padding-top: 223px;
  opacity: 1;
  animation: fade 2s linear; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.est {
  color: whitesmoke;
  font-size: 60px;
  padding-left: 952px;
  margin: 0;
  position: relative;
  top: -65px;
  font-family: "Pathway Gothic One";
  animation: fade 2s linear; }

.col-sm-4 {
  color: #254c1f;
  font-size: 206%;
  padding: 0;
  /*padding-top:139px;*/
  /*background-image:url("images/Logo.png");
  background-repeat:no-repeat;
  background-position-x: 45%;
  background-size: contain;*/ }

.col-sm-4 img {
  max-height: 220px;
  min-height: 220px;
  padding-left: 205px; }

.col-sm-2 {
  font-size: 130%;
  /*padding-left: 6.2%;*/
  padding-top: 170px; }

.col-sm-2.home {
  padding-left: 201px; }

.col-sm-2.contact {
  padding-left: 160px; }

.col-sm-2:hover {
  transition-duration: 0.4s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  text-shadow: 2px 2px #ff0000; }

.col-lg-6.statement {
  font-family: "Pathway Gothic One";
  font-size: 50px;
  padding: 4%; }

img.col-lg-6.example {
  width: 50%;
  padding: 0; }

.slide_img {
  animation: fade 2s linear;
  margin: auto;
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  padding: 0%; }

.about {
  color: white; }

.col-lg-12 {
  padding-top: 42px;
  font-size: 50px;
  color: #dddee0;
  height: 150px;
  text-align: center;
  background-color: #174430;
  font-family: "Pathway Gothic One";
  padding-left: 0px;
  margin-left: -30px;
  width: 102% !important; }

.header {
  font-size: 50px;
  padding-left: 245px; }

.body {
  font-size: 33px;
  text-align: center; }

#map {
  height: 800px;
  width: 800px; }

.contact1 {
  opacity: 1;
  animation: fade 2s linear;
  background-color: #1F5B4F;
  display: inline-block;
  color: white;
  width: 100%; }

div.col-sm-12.carousel.ng-isolate-scope {
  padding: 0%;
  margin: 0%; }
