<section class="about">
<div class="col-lg-12">ABOUT US</div>
<div class="col-lg-6 statement">
<i class="header"> See what we can do for you</i>
<p class="body">Palm Properties has been serving the Lowcountry Since 2009. We started out as a simple residential
business but since then we have expanded into exclusively dealing with commercial accounts. We
service Strip Malls, Banks, Commercial Storage Units, and Retirements homes from Beaufort
to Savannah. Some of our specializations include installation, irriagtion, bush hog work
grading, power washing and of course landscaping. We have many references and have
been doing most of our properties for many years. Our staff consists of expierienced
employees who have been doing most of our properties for many years, the most junior
person on staff having 3 years of experience.
-Robert Suber, Owner</p>
</div>
<img class="col-lg-6 example" src="Images/StockSnap_L9VZ6SOGBB.jpg">
</section>
